.background-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('/images/drones.jpg');
}

.intro__overlay,
.intro__container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.intro__content {
    position: relative;
    top: 40%;
    text-align: center;
}

.intro-text {
    color: white;
}

.intro-text__heading {
    
}